<div class="header">
  <div class="header-logo">
    <a class="logo" href="#">
      <p class="logo-font">KaiKei</p>
    </a>
  </div>
  <div class="header-main">
    <div class="header-date">
      <div>2022年4月</div>
    </div>
  </div>
</div>
<div class="main">
  <div class="side-bar">
    <h1>サイドバー</h1>
  </div>
  <div class="contents">
    <h1>コンテンツ</h1>
  </div>
</div>