<div class="header">
  <div class="header-logo">
    <a class="logo" href="#">
      KaiKei
    </a>
  </div>
  <div class="header-main">
    <div class="header-date">
      <div class="last-month"><a href="#">◀︎</a></div>
      <div class="current-month"><a class="display-month" href="#">2022年 4月</a></div>
      <div class="next-month"><a href="#">▶︎</a></div>
    </div>
  </div>
</div>
<div class="main">
  <div class="side-bar">
    <h1>サイドバー</h1>
  </div>
  <div class="contents">
    <h1>コンテンツ</h1>
  </div>
</div>