.container {
  width: calc(100vw - 110px);
  height: 100%;
  display: flex;
}

.categories {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow: scroll;
}

.category-month {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 11px;
  width: 100%;
  height: 60px;
}

.category-arrow {
  margin: 0 10px;
}

.category-arrow:hover {
  cursor: pointer;
}

.category-spend-sum {
  color: red;
  font-size: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}



.category-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.category-box {
  width: 85%;
  height: 175px;
  margin-bottom: 25px;
  border: 4px solid;
  border-radius: 20px;
  border-color: orange;
}

.category-box-header {
  height: 33%;
  margin: 5px 10px 10px;
  display: flex;
  justify-content: space-between;
  color: orange;
}

.category-name {
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-size: 2vw;
}

.category-btns {
  display: flex;
  height: 100%;
  width: 15%;
  margin-right: 5px;
}

.category-btn {
  width: 40%;
  color: white;
  margin: 8px 5px;
  font-size: 0.8vw;
  border: 0 solid;
  border-radius: 10px;
}

.btn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-box-footer {
  height: 40%;
  width: 90%;
  margin: 10px 20px 3px;
  border: 2px solid;
  border-radius: 10px;
  border-color: orange;
}

.category-bar {
  height: 100%;
  background-color: rgba(255, 165, 0, 0.2);
}

.category-money-sum {
  display: flex;
  align-items: center;
  font-size: 2vw;
  width: 400px;
  height: 100%;
  margin-left: 15px;
  color: orange;
}

.percentage-values {
  display: flex;
  justify-content: space-between;
  width: 94%;
  height: 10%;
  margin-left: 18px;
  font-size: 0.4vw;
  color: orange;
}

.new-category {
  width: 23%;
  height: 400px;
  border: 4px solid;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-top: 5%;
  margin-left: 20px;
  border-color: rgb(0, 164, 150);
}

.edit-category {
  width: 23%;
  height: 400px;
  border: 4px solid;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-top: 5%;
  margin-left: 20px;
  border-color: rgb(0, 164, 150);
  display: block;
}

.new-category-box-header {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 10px;
  height: 33%;
}

.new-category-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(0, 164, 150);
}

.new-category-box-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.category-name-form {
  border: 2px solid;
  border-radius: 10px;
  height: 40px;
  padding-left: 5px;
  width: 90%;
  font-size: 1vw;
  margin-bottom: 40px;
  color: gray;
  border-color: rgb(0, 164, 150);
}

.category-color-form {
  border: 2px solid;
  border-radius: 10px;
  height: 40px;
  width: 90%;
  font-size: 1vw;
  padding-left: 5px;
  color: gray;
  border-color: rgb(0, 164, 150);
}

.category-input {
  display: flex;
  justify-content: center;
  width: 80%;
}

.category-input-btn {
  width: 100%;
  height: 40px;
  border: 0 solid;
  border-radius: 10px;
  margin-top: 50px;
  color: white;
  font-size: 1vw;
  background-color: rgb(0, 164, 150);
}


.category-post-submit-btn {
  width: 100%;
  height: 100%;
  text-align: center;
}

.field_with_errors {
  display: contents;
}

#category-edit-btn:hover {
  cursor: pointer;
}

.category-show-list {
  height: calc(100% - 330px);
  width: 100%;
  padding-top: 10px;
  margin-top: 30px;
  overflow: scroll;
}

.category-show-day {
  width: 80%;
  margin-left: 10%;
  height: 50px;
  background-color: rgb(147, 235, 235);
  font-size: 1.4vw;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}