.show-list {
  height: 90%;
  width: 80%;
  overflow: scroll;
}

.show-day {
  width: 100%;
  height: 50px;
  background-color: rgb(147, 235, 235);
  font-size: 1.4vw;
  color: grey;
}

.show-box {
  width: 100%;
}

.show-info {
  height: 40px;
  background-color: rgb(255, 245, 232);
  border: 1px solid black;
  display: flex;
}

.show-date {
  width: 19%;
  font-size: 1.2vw;
}

.category-mark {
  width: 18%;
  font-size: 1.2vw;
  border-left: 2px solid lightgrey;
}

.show-spend {
  width: 19%;
  font-size: 1.2vw;
  border-left: 2px solid lightgrey;
}

.show-memo {
  display: flex;
  align-items: center;
  width: 44%;
  font-size: 1.2vw;
  border-left: 2px solid lightgrey;
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 15px;
  padding-right: 15px;
}
