.calendar {
  height: 100%;
  width: 100%;
  padding: 0 25px 20px;
  flex-direction: column;
}

.month-show {
  height: 5%;
  width: 97%;
  margin-bottom: 1%;
  display: flex;
  justify-content: end;
}

.month-show-btn {
  border: 1px solid rgb(0, 164, 150);
  border-radius: 10px;
  height: 100%;
  margin-right: 10px;
  padding: 0 20px;
  background-color: rgb(82, 217, 208);
  display: flex;
  align-items: center;
  color: white;
}

.calendar-main {
  width: 97%;
  height: 85%;
  background-color: rgb(251, 249, 249);
}

.wdays {
  width: 100%;
  border: 1px solid black;
  height: 7%;
  display: flex;
  background-color: rgb(252, 248, 230);
}

.wday {
  width: calc(100% / 7);
  height: 100%;
  border: 1px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-sunday {
  color: red;
}

.w-saturday {
  color: blue;
}

.dates {
  width: 100%;
  height: 93%;
}

.row {
  width: 100%;
  display: flex;
  height: calc(100% / 6);
}

.date {
  width: calc(100% / 7);
  border: 1px solid grey;
  background-color: white;
}

.sunday {
  background-color: rgb(252, 230, 230);
}

.saturday {
  background-color: rgb(232, 232, 250);
}

.date:hover {
  cursor: pointer;
}

.date-num {
  height: 30%;
  width: 100%;
  padding: 5px;
}

.day-sum {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  color: rgb(138, 26, 194);
}

.spend-input-form {
  border: 3px solid rgb(0, 164, 150);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  height: 70%;
  margin: 25% 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spend-form-text {
  height: 10%;
  font-size: 1.7vw;
  color: rgb(0, 164, 150);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.spend-fields {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day-form {
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year {
  margin-left: 5px;
  margin-right: 15px;
}

.month {
  margin-left: 5px;
  margin-right: 15px;
}

.day {
  margin-left: 5px;
}

#_day_1i {
  padding-left: 3px;
  width: 20%;
  height: 60%;
  font-size: 1vw;
  border: 1.5px solid rgb(0, 164, 150);
  border-radius: 4px;
}

#_day_1i:hover {
  cursor: pointer;
}

#_day_2i {
  padding-left: 3px;
  width: 12%;
  height: 60%;
  font-size: 1.1vw;
  border: 1.5px solid rgb(0, 164, 150);
  border-radius: 4px;
}

#_day_2i:hover {
  cursor: pointer;
}

#_day_3i {
  padding-left: 3px;
  width: 12%;
  height: 60%;
  font-size: 1.1vw;
  border: 1.5px solid rgb(0, 164, 150);
  border-radius: 4px;
}

#_day_3i:hover {
  cursor: pointer;
}

.money-field {
  height: 18%;
  width: 100%;
  padding-left: 10px;
}

.money-form-cover {
  display: flex;
  height: 50%;
  width: 100%;
}

.en {
  color: rgb(95, 94, 94);
  margin-left: 5px;
}

.spend-money-input-form {
  display: block;
  width: 82%;
  height: 100%;
  border: 1.5px solid rgb(0, 164, 150);
  border-radius: 5px;
  padding: 6px;
  font-size: 1vw;
}

.category-id-field {
  height: 18%;
  width: 100%;
  padding-left: 10px;
}

.spend-category-select {
  height: 50%;
  width: 95%;
  border: 1.5px solid rgb(0, 164, 150);
  border-radius: 5px;
  padding: 6px;
  font-size: 1vw;
}

.memo-field {
  height: 45%;
  width: 100%;
  padding-left: 10px;
}

.spend-memo-form {
  display: block;
  width: 95%;
  height: 80%;
  border: 1.5px solid rgb(0, 164, 150);
  border-radius: 5px;
  padding: 6px;
  font-size: 1vw;
}

.submit-cover {
  width: 100%;
  height: 8%;
}

.submit {
  color: white;
  border-radius: 5px;
  height: 100%;
  width: 70%;
  background-color: rgb(190, 242, 238);
}

.submit:hover {
  background-color: rgb(37, 194, 181);
}

.sum-data {
  display: none;
}