.header {
  background-color: blueviolet;
  height: 60px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: rgb(240, 152, 123);
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  width: 190px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.header-main {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-date {
  display: flex;
  justify-content: center;
  width: 400px;
}

.last-month {
  width: 50px;
  height: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.current-month {
  width: 300px;
  height: 50px;
  font-size: 40px;
  border: 3px solid black;
  margin: 0 20px;
}

.display-month {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.next-month {
  width: 50px;
  height: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  height: calc(100vh - 60px)
}


.side-bar {
  background-color: rgb(165, 105, 221);
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contents-btns {
  margin-top: 20px;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.calendar-btn {
  height: 100px;
  width: 100px;
}

.category-btn {
  height: 100px;
  width: 100px;
}

.fix-btn {
  height: 100px;
  width: 100px;
}

.side-btn {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(194, 140, 245);
  font-size: smaller;
}

.user {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.setting {
  width: 70px;
}

.user-info {
  width: 70px;
}

.bottom-btn {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  background-color: rgb(201, 184, 218);
  width: calc(100vw - 110px);
}

