.header {
  background-color: blueviolet;
  height: 70px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: rgb(240, 152, 123);
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  width: 190px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}



.contents-btns {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contents-btn {
  height: 90px;
  width: 90px;
}

.side-btn {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(194, 140, 245);
  font-size: 12px;
}

.main {
  display: flex;
  height: calc(100vh - 60px)
}


.side-bar {
  background-color: rgb(165, 105, 221);
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

.user {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.setting {
  width: 70px;
}

.user-info {
  width: 70px;
}

.bottom-btn {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  /*background-color: rgb(201, 184, 218);*/
  width: calc(100vw - 110px);
  display: flex;
}

.calendar {
  width: 75%;
  padding: 5px 20px;
}

.simple-calendar .day {
  height: 120px;
}

.simple-calendar .calendar-heading {
  margin-bottom: 20px;
}

.input-form {
  width: 25%;
  background-color: aqua;
}

